@model IEnumerable<PharmacyMedicineSupplyPortal.Models.RepSchedule>
@{
    ViewData["Title"] = "MrMeet";
}

<h1>Medical Representative Schedule Meet</h1>


@section Scripts {


    <script type="text/javascript">
        $(function () {
            var dtToday = new Date();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

            var maxDate = year + '-' + month + '-' + day;
            
            $('#txtDate').attr('min', maxDate);
        });
    </script>

}
<style>
    input[type = date] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type = submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type = submit]:hover {
            background-color: #45a049;
        }

    .intro {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
@using (Html.BeginForm("Index", "MRScheduleMeet", FormMethod.Post))
{
<div class="intro">
    <table cellpadding="5">
        <tr>

            <td><h4>Enter Start Date</h4></td>

        </tr>
    </table>
    <input type="date" id="txtDate" name="startDate"/>
   

    <input type="submit" value="Submit" />



    <br />

</div>
}
<br />
<table class="table text-center table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                MR Name
            </th>
            <th>
                Doctor Name
            </th>
            <th>
                Treating Ailment
            </th>
            <th>
                Target Medicine
            </th>
            <th>
                Meeting Slot
            </th>
            <th>
                Date of Meeting
            </th>
            <th>
                Doctor Contact Number
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MRName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatingAilment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingSlot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateofMeeting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorContactNumber)
                </td>
            </tr>
        }
    </tbody>
</table>

